#head {
    .head-content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        &-a {
            .logo {
                font-weight: bold;
            }
        }
        &-b {
            .dark-mode-toggle {
                font-size: 0.9rem;
                .dark-mode-icon {
                    padding-right: 5px;
                }
            }
        }
    }   
}