@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
    padding: 30px 20px;
}
